


body
{
    background-color: papayawhip;
}
.todo
{
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
}
header
{
    position: static;
    width: 100%;
    height: 15%;
    left: 0;
    margin:0%;
    top: 0%;
}
.otaku
{
    position: absolute;
    top:20%;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: dark;
    font-size: xx-large;
    left: 3%;
}
.center
{
    position: absolute;
    top:40%;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: red;
    left: 5%;
    font-size: xx-large;
}
.cabeza1 
{
   
    position: relative;
    background-color: khaki;
    display: flex;
    align-items: center;
    font-family: 'Comic Sans MS';
    
}
.cabeza1 > div
{
    justify-content: space-evenly;
    display: flex;
    margin: 2%;

}
.segundoParrafo
{
    flex-grow: 1;
    font-size: x-large;
    font-weight: bolder;
}
.cabeza1 > .logos
{
    margin-left: auto;
}
.cabeza2 >.buscador
{
    margin-left: auto;
}
.cabeza2 > div
{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 1%;
    margin-left: 1%;
    flex-wrap: wrap;
}
.cabeza2
{
    
    color: white ;
    font-weight: lighter;
    font-size: x-large;
    display: flex;	
    position: relative;
    width: 100%;
    left: 0%;
    background-color: darkorange;
    
    flex-grow: 1;
    height: 90px;
}

.tablillaFiguras
{
    text-align: center;
}
.cate
{
    border-bottom: 1px solid gray;
    margin-bottom: 10%;
    line-height: 1.2em;
}
.cate::before
{

    left: 0;
    top: 1.2em;
    height: 0;
    width: 100%;
}


h1
{
    font-size: xx-large;
    padding-left: 2%;
    border-bottom: 2px solid orange;
    width: 40%;

}
h2{
    color: darkgray;
}
.artbooks
{
    border-bottom: 1px solid orange;
    margin-bottom: 10%;
    line-height: 1.2em;
}

.Popular> .nenderoid >.figuras
{
    justify-content: center;
    align-content:center;
    flex-direction: row;
    

}


.imagenes > div
{
    flex:32%;
    position: relative;
    display: inline-block;
    align-self: center;
    margin: 10px;
    flex-direction: row;
    padding: 10px;
    
    margin-left: 10px;

}
.imagen3
{
    margin-left: auto;
}

.imagenes
{
    justify-content: space-evenly;
    flex-direction: row;
    display:flex;
    position: relative;
    background-color: dimgray;
    width: 100%;
    height:30%;
    align-content: center;
    
}
.texto1
{
    position: absolute;
    top:6%;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: skyblue;
    right:0,3%;
    font-size: xx-large;

}
.texto2
{
    position: absolute;
    top:87%;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: skyblue;
    right:2%;
    font-size: xx-large;

}
.texto3
{
    position: absolute;
    top:90%;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: red;
    left: 10%;
    font-size: x-large;

}
.texto4
{
    position: absolute;
    top:85%;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: white;
    left: 11%;
    font-size: xx-large;

}
.texto5
{
    position: absolute;
    top:90%;
    left: 12%;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: white;
    font-size: xx-large;

}
.figuras 
{
    position: relative;
    align-items: center;
    
}

.titulo
{
    margin-left: 2%;
}
.nenderoid > .titulo1
{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}
.titulo1 > .signos
{
    margin-top: 10px;
    color: orange;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: auto;
}
nav
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 float: left;
 width: 65%;
 height: auto;
 margin-left: 2%;
}

.nenderoid
{
    border: 1px solid grey;
    padding-left: 0%;
    height: 15%;
    background-color: floralwhite;
    width: 100%;
    margin-left: 2%;
    margin-bottom: 1%;
    padding-right:5%;
}
.camisetas, .artbooks
{
    border: 1px solid grey;
    padding-left: 5%;
    height: 250px;
    background-color: floralwhite;
    width: 100%;
    margin-left: 2%;
    margin-bottom: 1%;
}
article
{
    margin-top: 3%;
    float:right;
    width:15%;
    height: auto;
    position: relative;
    
}

.lista>div
{ 
    
    margin: 10px;
    font-size: larger;
}
.lista
{
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;
    display: flex;
    float: right;
    border: 4px solid grey; 
    background-color: whitesmoke;
    margin-right: 13%;
    padding-right: 80%;
    justify-content: space-between;
    flex-direction: column;
   
}

/**
Footer
**/

footer
{
    background-color: grey;
    display: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
    margin-left: 10px;
    flex-direction: row;
}
.listaFooter
{
    margin-left: 30pX;

    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
    
    
}
.listaFooter > div
{
    margin-right: 2%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.listaFooter> .siguenos
{
    margin-left: auto;
}


@media screen  and (max-width:1200px)
{
    section > .imagenes >.imagen1 > .texto1
    {
        font-size: 1.2rem;
        
    }
    section > .imagenes >.imagen1 > .texto2
    {
        font-size: 1.2rem;
        top:80%;
        right: 4%;
    }
    section > .imagenes > .imagen2 > .texto3
    {
        font-size: 1.2rem;
        top:75%;
    }
    section > .imagenes > .imagen3 > .texto4
    {
        font-size: 1.2rem;
        top: 75%;
        right: 10%;
    }
    section > .imagenes > .imagen3 > .texto5
    {
        font-size: 1.2rem;
        top: 80%;
        right: 10%;
    }
    
}
@media screen and (max-width: 768px)
{
    article
    {
        width:5% ;
        float: right;
        padding-left: 25%;
        margin-right: 0%;
        margin-right: 10px;
    }
    article > .lista
    {
        
        padding-right: 0%;
       font-size: 1rem;
    }
    footer > .listaFooter > div
    {
        font-size: 1rem;
    }
    header > .cabeza2 > div
    {
        font-size: 1rem;
    }
    header > .cabeza1 > .segundoParrafo
    {
        padding-left: 10%;
    }
    section > .imagenes >.imagen1 > .texto1
    {
        font-size: 1rem;
        
    }
    section > .imagenes >.imagen1 > .texto2
    {
        font-size: 0.9rem;
        top:80%;
        right: 4%;
    }
    section > .imagenes > .imagen2 > .texto3
    {
        font-size: 0.9rem;
        top:75%;
    }
    section > .imagenes > .imagen3 > .texto4
    {
        font-size: 0.9rem;
        top: 75%;
        right: 10%;
    }
    section > .imagenes > .imagen3 > .texto5
    {
        font-size: 0.85rem;
        top: 80%;
        right: 20%;
    }
    header > .cabeza1 > .primerParrafo> .center
    {
        margin-top: 12px;
    }
}
@media screen and (max-width: 576px)
{
    header > .cabeza2 > div
    {
        font-size:0.5rem;
    }
    nav > .Popular  
    {
        width: 100%;
    }
    nav 
    {
        float: unset;
    }
}
